

header { color: #FFFFFF;
    background-color: #002171;
}

nav { 
    background-color: #BBDEFB;
}

body { color: #666666 ;
    background-color: #FFFFFF;
}

h2 {
    color: #1976D1;
}

dt {
    color: #002171;
}

.resort {
    color: #1976D2;
}
