body{
    margin: 0;
    padding: 0;
    background-color: #000;
    /*background: url() no-repeat;
    background-size: cover;*/
}

header { 
    color: #9503e9;
    text-align: center;
    font-size: 50px;
}

header a{
    text-decoration: none;
}

h1{
    color: #9503e9;
}


/*------------------------------ Home Specific Edits --------------------------------------------*/
#home{
    width: 500px;
    padding: 50px;
    margin: auto;
    margin-top: 5%;
    background: #111;
    font-family: 'Gothic', sans-serif;
    text-align: center;
    color: #fff;
}

#home img{
    border-radius: 50%;
    object-fit: contain;
    /*Crop pfp into a circle, makes it nicer since its the home page*/
    width: 250px;
    height: 250px;
}

#home h1{
    font-size: 80px;
    letter-spacing: 2px;
    color: #9503e9;
}

h3{
    color: #0eb922;
}

#home p{
    text-align: center;
}

#home li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

#home li a{
    color: #f31010;
    text-decoration: none;
    font-size: 20px;
}

/*------------------------------ About Me Specific Edits --------------------------------------------*/

#aboutMe {
    position: relative;
}

img{
    position: top right;
    top: auto;
    right: auto;
}